<ion-header>
    <ion-toolbar color="secondary">
      <ion-title> Todos </ion-title>
      <!-- <ion-buttons end>
        <button ion-button icon-only (click)="close()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-button slot="end" [routerLink]="['/todos/add-todo']">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-toolbar>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content >
  <ion-list *ngIf="hasHighPriorityTodos">
    <ion-title>High Priority tasks</ion-title>
    <ion-searchbar placeholder="Search High Priority Tasks" (ionChange)="FilterHighPrioritytodo($event)" animated ></ion-searchbar>
      <ion-item *ngFor="let item of highPriorityItems">
        <p [routerLink]="['./todo-detail/',item._id]">{{item.title}} </p>
        <ion-button color="success" [routerLink]="['./',item._id]" slot="end">Update</ion-button>
        <ion-button color="danger" (click)="onDeleteTodo(item._id)" slot="end">Delete</ion-button>
      </ion-item>
    </ion-list>
    <hr>
  <ion-list *ngIf="hasTodos">
    <ion-title>All Assigned tasks</ion-title>
    <ion-searchbar placeholder="Search All Assigned Tasks" (ionChange)="Filtertodo($event)" animated ></ion-searchbar>
    <ion-item *ngFor="let item of searchItem">
      <p [routerLink]="['./todo-detail/',item._id]">{{item.title}} </p>
      <ion-button color="success" [routerLink]="['./',item._id]" slot="end">Update</ion-button>
      <ion-button color="danger" (click)="onDeleteTodo(item._id)" slot="end">Delete</ion-button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="hasCompletedTodos">
    <ion-title>All Completed tasks</ion-title>
    <ion-searchbar placeholder="Search All Assigned Tasks" (ionChange)="FilterCompletedTodo($event)" animated ></ion-searchbar>
    <ion-item *ngFor="let item of searchItem">
      <p [routerLink]="['./todo-detail/',item._id]">{{item.title}} </p>
      <ion-button color="success" [routerLink]="['./',item._id]" slot="end">Update</ion-button>
      <ion-button color="danger" (click)="onDeleteTodo(item._id)" slot="end">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

